body{
    font-size: 20px;
    text-align:center;

    
}
.nav-link img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.aboutUs{
    color: white;
}
.home__aboutme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.689); 
    width: 450px;
    height: 450px;
}
.home__description_title{
    text-align: center;
    padding-bottom: 1rem;
    color: rgb(0, 0, 0);
}
.home__description_parrafo{
    color:rgb(0, 0, 0);
}

.acercade{
    height: 700px;
    background-image: url(/assets/img/bg-port13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.acercade_transparencia{
    height: 700px;
    background-color: rgba(0, 0, 0, 0.527);

}
.acercade_img{ 
    width: 450px;
    height: 450px; 
    margin-top: 3rem;
    margin-bottom: 3rem;
    
}
.description{
    background-color: white;
    border-radius: 5px;
    position: relative;
    box-shadow: black;
}
@media (max-width: 576px) {

    .img-logo{

        flex-direction: column;
        width: 300px;
        height: auto;
    }
    .home__aboutme{
        width: auto;
        height: auto;
        background-color: transparent;
        
    }
    .acercade_img{
        width: auto;
        height: 300px;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
    .acercade_img img {
        justify-content: center;
        align-items: center;
    }
    .home__description_title{
        color: rgb(255, 255, 255);
    }
    .home__description_parrafo{
        color: rgb(255, 255, 255);
    }
}